<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>
      {% block title %}{% endblock %}
    </title>

    {% block head %}{% endblock %}
  </head>
  <!-- <body> -->
    <!-- <h2> <a href="/login-page"> Login or Create Account </a></h2> -->
    <!-- <div> <script src="https://platform.fatsecret.com/js?key=23a92470c57a4a4ba460c8f0030927e9&auto_load=true"></script>  </div> -->
    <!-- <ul class="nav navbar-nav navbar-right">
      <li><a id="nav-logout" href="/logout">Logout</a></li>
    </ul>  -->
    {% block body %}{% endblock %}

  <!-- </body> -->
</html>


