{% extends 'base.html' %} 

{% block title %} Meals & Macros{% endblock %}
{% block body %}
<h1> Meals & Macros Exercise Diary </h1>
<p>
    <h2>Track your exercise:</h2>
</p>
<div class='row'> 
    <form action='/exercise' method='POST'>
        <fieldset> 
            <legend>Did you exercise today?</legend>
            <input type='radio' name="yes" id="yes">
            <label for="yes">Yes</label><br>
            <input type='radio' name="no" id="no">
            <label for="yes">No</label><br>
        </fieldset>
        <fieldset> 
            <legend>Exercise Journal</legend>
            <input type='text' name="exercise" id="exercise">
        </fieldset>
        <input type='submit' value='Submit'>
</div>
</form><br> 
    <p>
    <script> document.write(new Date().toLocaleDateString()); </script>
    </p>
        Today's Exercise Entry: {{ exercise }} <br>
       


    
{% endblock %} 