{% extends 'base.html' %}


{% block title %} Macros & Meals {% endblock %}

{% block body %}

<h1> Macros & Meals Diary Page </h1>

<h2> Track your meals & exercise !</h2>
<!-- <a href="/fatsecret"> </a> -->
<body>
 <div> 
     <script src="https://platform.fatsecret.com/js?key=23a92470c57a4a4ba460c8f0030927e9&auto_template=false"></script>  
     <!-- e.g.: render a search input: -->
    <script>fatsecret.writeHolder("search");</script>

    <!-- e.g.: render the name of a food: -->
    <script>fatsecret.writeHolder("foodtitle");</script>

    <!-- e.g.: render a food nutrition panel: -->
    <script>fatsecret.writeHolder("nutritionpanel");</script>
    
     <script>
        fatsecret.setCanvasUrl("profile.sign_in", "http://localhost:5000/login");
    </script>
</div>
<div id="my_container" class="fatsecret_container"></div>
<script>
    fatsecret.setContainer("my_container");
    fatsecret.setCanvas("home");
</script>
</body>

{% endblock %}