{% extends 'base.html' %} 

{% block title %} Meals & Macros {% endblock %}
{% block body %}
<h1> Meals & Macros Food Diary </h1>
<p>
    <h2>Enter your food throughout the day here:</h2>
</p>

<body>
<div class='row'> 
    <form action='/food' method='POST'>
        <fieldset> 
            <legend>Name of food</legend>
            <input type='text' name="food_name" id="food_name">
        </fieldset>
</div>
<div class='row'>
        <fieldset> 
            <legend>Calories</legend>
            <input type='number' name="calories" id="calories">
        </fieldset>
</div>
<div class='row'>
        <fieldset> 
            <legend>Protein</legend>
            <input type='number' name="protein" id="protein">
        </fieldset>
</div>
<div class='row'> 
        <fieldset> 
            <legend>Carb</legend>
            <input type='number' name="carb" id="carb">
        </fieldset>  
</div>
<div class='row'> 
        <fieldset> 
            <legend>Fat</legend>
            <input type='number' name="fat" id="fat">
        </fieldset>
</div>
<p> 
<div class="row">
    <input type="submit" value="Add Food"/>
</div>
</p>
        {% for food in foods %}
        <li class="badge"><a>{{ food.food_name }}</a></li>
        <li><a>Protein: <span class="badge">{{ food.protein }}</span></a></li>
        <li><a>Carbohydrates: <span class="badge">{{ food.carb }}</span></a></li>
        <li><a>Fat: <span class="badge">{{ food.fat }}</span></a></li>
        <li><a>Calories: <span class="badge">{{ food.calories }}</span></a></li><br>
        </ul>
        {% endfor %}




</form>

<a href="/all_food" target="_blank">To Get A List Of Food Entries Click Here</a>
</body>
{% endblock %} 