{% extends 'base.html' %}


{% block title %} Macros & Meals {% endblock %}

{% block body %}

<!-- <h1> Welcome to Macros & Meals! </h1>

<h2> <a href="/login-page"> Login or Create Account </a></h2> -->


<div class="card text-center">
    <div class="card-header">
    </div>
    <div class="card-body">
      <h5 class="card-title">Welcome to Macros & Meals!</h5>
      <p class="card-text">Login or Create an Account</p>
      <a href="/login-page" class="btn btn-primary">Click Here</a>
    </div>
    <div class="card-footer text-muted">
    
    </div>
  </div>

{% endblock %}
