{% extends 'base.html' %} 

{% block title %} Meals & Macros Profile {% endblock %}
{% block body %}
<h1> Hi {{ session["name"] }} ! </h1>
<h2> Meals & Macros Profile Page</h2><br>

<h3> Your daily calories: {{ deficit }} </h3>
<h3> Your daily macros in grams: {{ macros_by_grams }} </h3>
<br>
 
<h4> Food </h4>
<ul class="nav navbar-nav navbar-right">
    <li><a id="nav-food" href="/food">Food Diary</a></li>
</ul>

<h4> Exercise </h4>
<ul class="nav navbar-nav navbar-right">
    <li><a id="nav-exercise" href="/exercise">Exercise Diary</a></li>
</ul>

<h4> Weight </h4>
<ul class="nav navbar-nav navbar-right">
    <li><a id="nav-weight" href="/weight">Weight Tracker</a></li>
</ul>

<h4> Fitness Goals </h4>
<ul class="nav navbar-nav navbar-right">
    <li><a id="nav-goals" href="/goals">Fitness Goals</a></li>
</ul>

{% endblock %} 