{% extends 'base.html' %} 

{% block title %} Meals & Macros Profile {% endblock %}
{% block body %}
<h1> Hi {{ session["name"] }} ! </h1>
<h2> Welcome to your Meals & Macros Profile Page</h2>


<!-- <h2>Please complete this questionare to calculate your daily calories and macros:</h2>
<a href="/calculator">Meals & Macros Calculator</a><br> -->

<h1> Your daily calories: {{ deficit }} </h1>
<h1> Your daily macros in grams: {{ macros_by_grams }} </h1>

 
<h4> Food </h4>
<ul class="nav navbar-nav navbar-right">
    <li><a id="nav-food" href="/food">Food Diary</a></li>
</ul>

<h4> Exercise </h4>
<ul class="nav navbar-nav navbar-right">
    <li><a id="nav-exercise" href="/exercise">Exercise Diary</a></li>
</ul>

<h4> Weight </h4>
<ul class="nav navbar-nav navbar-right">
    <li><a id="nav-weight" href="/weight">Weight Tracker</a></li>
</ul>

<h4> Fitness Goals </h4>
<ul class="nav navbar-nav navbar-right">
    <li><a id="nav-goals" href="/goals">Fitness Goals</a></li>
</ul>



{% endblock %} 