{% extends 'base.html' %} 

{% block title %} Meals & Macros Profile {% endblock %}
{% block body %}
<h1> Meals & Macros Profile Page</h1>

<h2> Food </h2>
    <li><a id="nav-food" href="/food">Food Diary</a></li>


<h2> Exercise </h2>
    <li><a id="nav-exercise" href="/exercise">Exercise Diary</a></li>

<h2> Weight </h2>
    <li><a id="nav-weight" href="/weight">Weight Tracker</a></li>

<h2> Fitness Goals </h2>
    <li><a id="nav-goals" href="/goals">Fitness Goals</a></li>


<h2> To Log Out please click here </h2>
<ul class="nav navbar-nav navbar-right">
    <li><a id="nav-logout" href="/logout">Logout</a></li>
</ul>   
{% endblock %} 